{% extends 'base.html' %}

{% block content %}

    <section class="section-conten padding-y bg">

        {% include 'includes/alerts.html' %}

        <div class="container">
            <div class="row">

                <!--   SIDEBAR   -->
                {% include 'includes/dashboard_sidebar.html' %}

                <!-- CENTER PAGE -->
                <main class="col-md-9">
                    <article class="card">
                        <header class="card-header">
                            <strong class="d-inline-block mr-3">Modifier mon profil</strong>
                        </header>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="{% url 'change_password' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>Mot de passe actuel</label>
                                            <input type="password" name="current_password" placeholder="Mot de passe actuel" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Nouveau mot de passe</label>
                                            <input type="password" name="new_password" placeholder="Nouveau mot de passe" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Confirmer le nouveau mot de passe</label>
                                            <input type="password" name="confirm_password" placeholder="Confirmer le nouveau mot de passe" class="form-control" required>
                                        </div>
                                        <input type="submit" value="Modifier" class="btn btn-primary">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </section>

{% endblock content %}