{% extends 'base.html' %}

{% block content %}
    <section class="section-content padding-y" style="min-height:84vh">
            <div class="card mx-auto" style="max-width: 600px; margin-top:100px;">
                <div class="card-body">
                    <h4 class="card-title mb-4">Mot de passe oublié</h4>

                    <!-- Alert message if email does not exist -->
                    {% include 'includes/alerts.html' %}

                    <form action="{% url 'forgot_password' %}" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" name="email">
                        </div>

                        <div class="form-group">
                            <a href="{% url 'login' %}" class="float-right">Vous avez un mot de passe ? Connexion</a>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
            <p class="text-center mt-4">Vous n'avez pas de compte ? <a href="{% url 'register' %}">Inscription</a></p>
            <br><br>
    </section>
{% endblock content %}