<aside class="col-md-3">
    <ul class="list-group">
        <a class="list-group-item active" href="#"> Tableau de bord </a>
        <a class="list-group-item" href="#"> Mes commandes </a>
        <a class="list-group-item" href="#"> Modifier mon profil </a>
        <a class="list-group-item" href="#"> Modifier mon mot de passe </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i>
        <span class="text">Déconnexion</span> </a>
</aside>